section{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}

.section-left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-left img{
  border-radius: 16px;
}

.section-right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
